<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.jgm.roujin.persistence.SalutariumDao">


	<select id="findByAddress" resultType="salutariumVO">
	
		SELECT * FROM tbl_salutarium WHERE address LIKE CONCAT('%',#{todohuken},'%') AND address LIKE CONCAT('%',#{sikuchouson},'%')
	
	</select>
	
	<select id="selectByPagiAddr" resultType="salutariumVO">
		SELECT * FROM tbl_salutarium WHERE address LIKE CONCAT('%',#{todohuken},'%') AND address LIKE CONCAT('%',#{sikuchouson},'%')
		LIMIT #{startList},#{listSize}
	</select>


	<insert id="insertSal" parameterType="salutariumVO" useGeneratedKeys="true" keyProperty="sequence">
	
		INSERT INTO tbl_salutarium(username,name,address,fee,description,feature,view) 
		VALUES(#{username},#{name},#{address},#{fee},#{description},#{feature},#{view})
	
	</insert>
	
 </mapper>