<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.jgm.roujin.persistence.UserDao">


	<select id="getAllUserList" resultType="userDetailsVO">
		SELECT tbl_user.username, tbl_user.picture, tbl_user.enabled, authorities.authority FROM tbl_user
		INNER JOIN authorities ON tbl_user.username = authorities.username
	</select>
	
 </mapper>